@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white text-black antialiased;
    font-feature-settings: "liga" 0;
  }

  body {
    @apply font-sans min-h-screen text-[14px] leading-normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}

@layer utilities {
  .container {
    @apply px-4 md:px-8 mx-auto;
    max-width: 1440px;
  }
}
